/*
 * Alan Thompson photography
 * URL: photoalanthompson.com
 * Author: Christopher Melville
           christophermelville.com
   Date: June 2016;
 */

 /* ==========================================================================
   SASS Color Palette
   ========================================================================== */

   /*$black: RGB(39, 40, 41);*/
   $black: #11181f;
   $white: RGB(185,185,185);
   $splash: #6084a8;

/* ==========================================================================
   Base styles 
   ========================================================================== */

html {
    overflow-y: scroll;
    height: 100%;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid $white;
    align: center;
    width: 50%;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
    color: $black;
    font-family: 'Oswald', sans-serif;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: $white;
}
h1.inv,
h2.inv,
h3.inv,
h4.inv,
h5.inv,
h6.inv {
    color: $black;
}


.container{
    flex-direction: column;
}

.img-centered {
    margin: 0 auto;
}

/* Enable ONLY to view div construction lines*/
div {
  /*border: 1px solid red;*/
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

  * { box-sizing: border-box; }

  /* force scrollbar */
  html { overflow-y: scroll; }

  body { font-family: sans-serif; }
  



  /*
   *  NAVBAR
   */

  @media(min-width:768px) {
    .navbar-fixed-top {
        background-color: $black;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        letter-spacing: 3px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

  }

  .navbar {
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
  }

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar a {
    text-align: center;
    float: left;
  }

  .navbar a:focus {
    outline: 0;
    color: $splash;
    transform:scale(1.1);
  }

  .navbar .navbar-nav ul li {
    text-align: center;
    letter-spacing: 3px;
  }

  .navbar .navbar-nav li a:focus {
    outline: 0;
    transform:scale(1);
  }

  .navbar .navbar-nav li a:hover {
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    color: $splash;
    outline: 0;
    transform:scale(1.05);
  }


  .navbar-default,
  .navbar-inverse {
      border: 0;
  }

  /*main header logo name visable when in mobile view */
  .navbar-brand {
    display: none;
    margin-top: 10px;
    font-size: 75%;
  }

  @media (max-width: 750px) {
     /* li in horizontal row when collapsed nav is shown */
    .navbar .navbar-nav li {
      display: flex;
      justify-content: space-around;
      text-align: center;
      /*float: */
      height: 50px;
      line-height: 50px;
    }

    .navbar .navbar-nav li.nav-social i {
      font-size: 200%;
    }

    .navbar-brand {
      display: flex;
    }
  }


  @media (min-width: 750px) {
    .navbar .navbar-nav li {
      display: block;
    }
  }






  /*
   *  HEADER 
   */

  header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      color: #fefbf7;
      background: #ffffff;
  }

  header .container {
      color: #11181f;
      text-align: center;
      margin-bottom: 50px;
  }



  header img {
      /*margin-top: 200px;*/
      position: relative;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      /*display: block;*/
      height:150;
      width:150px;
      border-radius: 75px;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      /*margin: 0 auto 20px;*/
      background-color: rgba(0,0,0,0.0);
  }

  /* Add padding-top to profile picture when in mobile view */
    @media (max-width: 750px) {
      header img {
        margin-top: 100px;
      }
    }
    @media (min-width: 750px) {
      header img {
        margin-top: 150px;
      }
    }
    @media (min-width: 900px) {
      header img {
        margin-top: 150px;
      }
    }
    @media (min-width: 1000px) {
      header img {
        margin-top: 150px;
      }
    }

  header .intro-text .name {
      color: $black;
      display: block;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      font-size: 10em;
  }

  header h1 {
    color: $black;
  }

  header .intro-text .skills {
      font-size: 1.25em;
      font-weight: 300;
      color:  #808080;
  }
  





  /*
   * GRID GALLERY 
   */

   section#portfolio {
    display: block;
   }

  .grid {
    width:100%;
    background: #ffffff;
  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */
  .grid-sizer,
  .grid-item {
      width: 33.333%;
      float: left;
      overflow: hidden;
  }


  .grid-item img {
      -webkit-transition: transform 2000ms, opacity 1000ms;
      -moz-transition: transform 2000ms, opacity 1000ms;
      display: block;
      width: 100%;
      transition: opacity 1000ms, transform 2000ms;
      transform:scale(1);
      opacity:1;
  }

  a:hover span.grid-item-info {
    -webkit-transition:  opacity 1000ms;
    -moz-transition: opacity 1000ms;
    opacity: 1; /*Text overlay opacity*/
    font-color:#ffffff;
  }

  .grid-item:hover img {
      -webkit-transition: transform 2000ms, opacity 1000ms;
  -moz-transition: transform 2000ms, opacity 1000ms;
      transition: opacity 1000ms, transform 2000ms;
      opacity: 0.9;
      transform:scale(1.05);
  }

  /*make text appear overlay image*/
  span.grid-item-info {
    background: rgba(0,0,0,0);
    color: #fefbf7;
    cursor: pointer;
    display: table;
    text-align: center;
    position: absolute;
    top: 25%;
    width: 100%;
    opacity:0;
        -webkit-transition: opacity 1000ms;
    -moz-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
    transition: opacity 1000ms;
  }

  /* Make the pictures fill the full screen width in mobile view */
  @media (max-width: 600px) {
    .grid-sizer,
    .grid-item {
      width: 100%;
    }
  }

  .grid-item {
    float: left;
  }

  .grid-item img {
    display: block;
    width: 100%;
  }
  
  /* extend the height of the gallery div so that when mobile view is engaged the photos dont stack down ontop of the 'about' section*/
/*  @media (max-width: 600px) {
    div.gallery {
      background-color: pink;
      height: 10000px;
    }
  }
  div.gallery {
    background-color: pink;
    height: 2000px;
  }*/





/*
 *  ABOUT
 */

  #about-text {
    font-size: 99%;
    padding: 20px;
    color: $black;
  }

  section {
      padding: 30px 0;
  }

  section#about {
    display: block;
   }

  section .row {
    margin-top: 50px;
  }

  @media(max-width:767px) {
      section #gallery {
          padding: 5px 0;
      }

      section #gallery .first {
          padding-top: 75px;
      }
  }



  #about {
    padding: 50px 0 50px 0;
  }







/*
 *  CONTACT
 */

 #contact-details p {
  color: $white;
 }

 #contact-details a {
    text-decoration: none;
    font-weight: lighter;
    color: $white;
  }

  hr #hr-contact {
    color: red;
  }





 /*
  * FOOTER
  */
  
  footer {
      color: #fefbf7;
  }

  footer .footer-above {
      padding-top: 50px;
      background-color: $black;
  }

  footer .footer-col {
      margin-bottom: 50px;
  }

  /*
   *  Add site design footer
   */
  footer .footer-below {
      padding: 50px;
      height: 20px;
      background-color: white;
  }

  footer .footer-below a {
    text-decoration: none;
    color: grey;
  }




  /*
   *  SCROLLABLE ICON
   */

  .scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fefbf7;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #ffffff;
    color: #11181f;
    background: #fff;
}

/* Customisations for the social icon bar */
.btn-outline:hover, #myEmail:hover {
    color: black;
    background-color: #34A853;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 0.2em 0 #34A853;
}
.btn-outline:hover, #myTwitter:hover {
    color: white;
    background-color: #40BFF5;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 0.2em 0 #40BFF5;
}
.btn-outline:hover, #myFacebook:hover {
    color: white;
    background-color: #3B579D;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 0.2em 0 #3B579D;
}
.btn-outline:hover, #myInstagram:hover {
    color: black;
    background-color: #FFD205;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 0.2em 0 #FFD205;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}




/* ==========================================================================
   Draggable Gallery Plugin Settings
   ========================================================================== */

.draggable {
  width: 140px;
  height: 140px;
  background: #F90;
  border-radius: 10px;
}

.draggable.is-pointer-down {
  background: #09F;
}
.draggable.is-dragging { opacity: 0.7; }

